.header__container {
    width: 25%;
    max-width: 350px;
    height: 100%;
    background-color: var(--body-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1em;
    gap: 2.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.header__section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


.header__section img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.header__section h3 {
    font-size: 1.2em;
    width: 100%;
    color: var(--body-white);
    text-align: center;


}

.header__ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5em;

}

.header__ul li {
    color: var(--body-white);
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.header__ul li:hover {
    color: var(--body-red);
    transition: 0.3s ease;
}

.header__ul a {
    color: var(--body-white);
    font-weight: 500;
    transition: 0.3s ease;
}

.header__ul a:hover {
    color: var(--body-red);
    transition: 0.3s ease;
}

@media(max-width:800px) {
    .header__container {
        background-color: antiquewhite;
    }
}

@media(max-height:600px) {
    .header__container {
        justify-content: start;
    }
}